<div class="flex flex-col min-h-[calc(100vh-64px)] p-6 sm:p-10 space-y-12">
  <!-- Accroche générale -->
  <section class="max-w-screen-md mx-auto text-center space-y-4">
    <h2 class="text-2xl font-semibold">
      {{ 'experiences.intro.heading' | transloco }}
    </h2>
    <p class="text-base text-secondary">
      {{ 'experiences.intro.subtitle' | transloco }}
    </p>
  </section>

  <!-- Entrepreneurial -->
  <section>
    <h3 class="text-3xl font-extrabold">
      {{ 'experiences.sections.entrepreneur.heading' | transloco }}
    </h3>
    <p class="text-secondary mt-1">
      {{ 'experiences.sections.entrepreneur.period' | transloco }}
    </p>
    <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-experience-card
        *ngFor="let exp of entrepreneurExps$ | async"
        [experience]="exp"
      ></app-experience-card>
    </div>
  </section>

  <!-- CHESS Maritime -->
  <section>
    <h3 class="text-3xl font-extrabold">
      {{ 'experiences.sections.chess.heading' | transloco }}
    </h3>
    <p class="text-secondary mt-1">
      {{ 'experiences.sections.chess.period' | transloco }}
    </p>
    <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-experience-card
        *ngFor="let exp of chessExps$ | async"
        [experience]="exp"
      ></app-experience-card>
    </div>
  </section>
</div>
